* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #1d1d1d;
}

input:focus,
button:focus,
label.btn {
  outline: 0 !important;
  box-shadow: none !important;
}

header {
  background-color: #0f0f0f;
}

nav {
  display: flex;
  background-color: #bf5b04;
  justify-content: center;
}

svg:nth-child(2) {
  margin: 0 50px 0;
}

#container-pesquisa {
  display: none;
}

#entrada {
  background-color: #404040;
  border: #404040;
  color: #f2f2f2;
}

#entrada::placeholder {
  color: #a0a0a0;
}

#erro-pesquisa {
  color: #ff0000;
  text-align: center;
  font-size: calc(1.25rem);
}

#indice-pagina {
  padding: 0;
}

#indice-pagina > button {
  flex: none;
  background-color: #ffe81f;
  border: 1px solid #1d1d1d;
  color: #0f0f0f;
}

#indice-pagina > button:hover {
  background-color: rgba(253, 231, 31, 0.65);
}

#item-lista {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #0f0f0f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #373737;
  color: #d0d0d0;
}

#item-lista > span:nth-child(2) {
  color: #ffe81f;
  font-size: 0.875rem;
  padding: 5px 10px;
  border-radius: 5px;
}

#item-lista:hover {
  background-color: #0f0f0f;
}

#logo {
  display: flex;
  padding: 25px;
  justify-content: center;
}

#logo svg {
  height: 60px;
}

#nav-recuros {
  text-transform: uppercase;
  flex-wrap: wrap;
}

#nav-recuros > label {
  color: #f2f2f2;
  padding: 4px 16px;
  border-radius: 0;
}

#nav-recuros > label:hover {
  border-bottom: 4px solid #f2f2f2;
  padding-bottom: 0;
}

#pesquisar {
  background-color: #000000;
  padding: 0 8px;
}

#pesquisar > svg {
  height: 30px;
  width: auto;
}

.btn-check:checked + .btn,
.btn-check:active {
  color: #0f0f0f !important;
  padding: 4px 16px;
  background-color: #f2f2f2;
}

.modal-content {
  background-color: #1d1d1d;
  color: #f2f2f2;
  text-align: center;
}

.modal-header {
  border-bottom: 3px solid #373737;
  color: #ffe81f;
}

.modal-header > button {
  padding: 0;
  margin: 0;
}

.modal-header svg {
  height: 2rem;
}

.secao-modal {
  padding: 16px;
  border-bottom: 1px solid #373737;
}

.secao-modal > h6 {
  text-transform: uppercase;
}

.secao-modal li {
  color: #d0d0d0;
  list-style: none;
}

.secao-modal > ul {
  font-weight: 100;
  padding: 10px 0;
  margin: 0;
}

.spinner-border {
  color: #ffe81f;
}

/* ::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track-piece {
  background-color: #f2ca80;
}

::-webkit-scrollbar-thumb {
  background-color: #733702;
}

::-webkit-scrollbar-thumb:active {
  background-color: #bf5b04;
}