* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

body {
  background-color: rgb(6, 6, 6);
  overflow-x: hidden;
}

input.form-control:focus,
button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

#erro-pesquisa {
  color: rgb(255, 0, 0);
  text-align: center;
  font-size: calc(1.25rem);
}

#indice-pagina {
  padding: 0;
}

#indice-pagina > button {
  flex: none;
  background-color: rgb(253, 231, 10);
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

#indice-pagina > button:hover {
  background-color: rgba(253, 231, 31, 0.65);
}

#item-lista {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgb(18, 18, 18);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(29, 29, 29);
  color: rgba(255, 255, 255, 0.75);
}

#item-lista:active {
  background-color: rgb(0, 0, 0) !important;
}

#item-lista:hover {
  background-color: rgb(18, 18, 18);
  color: rgb(255, 255, 255);
}

#item-lista:hover span:nth-child(2) {
  color: rgb(253, 231, 31);
}

#item-lista > span:nth-child(2) {
  color: rgba(253, 231, 31, 0.9);
  font-size: 0.875rem;
  padding: 5px 10px;
  border-radius: 5px;
}

#logo {
  max-width: 200px;
}

#pesquisar {
  border: 1px solid rgb(253, 231, 31);
  color: rgb(253, 231, 31);
  background-color: rgb(0, 0, 0);
}

#pesquisar:active {
  background-color: rgb(253, 231, 31);
  color: rgb(0, 0, 0);
}

#recursos-api .card {
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(253, 231, 31);
  color: rgb(253, 231, 31);
  height: 200px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

#recursos-api .card:active {
  background-color: rgb(253, 231, 31);
  color: rgb(0, 0, 0);
}

#titulo {
  color: rgb(253, 231, 31);
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: calc(1.5rem);
}

.modal-content {
  background-color: rgb(8, 8, 8);
  color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgb(253, 231, 31); */
  border: 1px solid rgba(253, 231, 31, 0.9);
  border-collapse: collapse;
}

.modal-header {
  /* border-bottom: 1px solid rgb(253, 231, 31); */
  border-bottom: 1px solid rgba(253, 231, 31, 0.9);
}

.modal-header > button {
  background-color: rgb(255, 0, 0);
}

.secao-modal {
  /* border: 1px solid rgb(253, 231, 31); */
  border: 1px solid rgba(253, 231, 31, 0.9);
  padding: 16px;
}

.secao-modal li {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
  list-style: none;
}

/* .secao-modal li span {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
} */

.secao-modal ul {
  padding: 10px 10px 0px;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(253, 231, 31, 0.25);
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(253, 231, 31, 0.75);
  /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(253, 231, 31);
}
